/* body {
    background-image: url('https://source.unsplash.com/1600x900/?blood,donation');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    background-color: #f8f9fa;
    /* Fallback color in case the image is not available
} */

/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust the alpha (last value) to control the overlay opacity
} */

body {
    color: #645f5f;
    /* Set the text color to white or another contrasting color */
}


/* Add this style to adjust the color of links in the navigation
.navbar-nav .nav-link {
    color: #fff !important;
    /* Use !important to override any other styles 
}*/